/* Color Theme Swatches in Hex */
$Kenu-M-1-hex: #022859;
$Kenu-M-2-hex: #5E10FF;
$Kenu-M-3-hex: #2885FC;
$Kenu-M-4-hex: #11CCE0;
$Kenu-M-5-hex: #07F2C7;

/* Color Theme Swatches in RGBA */
$Kenu-M-1-rgba: rgba(2,40,89, 1);
$Kenu-M-2-rgba: rgba(94,16,255, 1);
$Kenu-M-3-rgba: rgba(40,133,252, 1);
$Kenu-M-4-rgba: rgba(17,204,224, 1);
$Kenu-M-5-rgba: rgba(7,242,199, 1);

/* Color Theme Swatches in HSLA */
$Kenu-M-1-hsla: hsla(213, 95, 17, 1);
$Kenu-M-2-hsla: hsla(259, 100, 53, 1);
$Kenu-M-3-hsla: hsla(213, 97, 57, 1);
$Kenu-M-4-hsla: hsla(185, 85, 47, 1);
$Kenu-M-5-hsla: hsla(169, 94, 48, 1);


// -------------------

/* Color Theme Swatches in Hex */
$Kenu-F-1-hex: #9B003E;
$Kenu-F-2-hex: #FF1560;
$Kenu-F-3-hex: #FF6948;
$Kenu-F-4-hex: #FF7D43;
$Kenu-F-5-hex: #FF9D3A;

/* Color Theme Swatches in RGBA */
$Kenu-F-1-rgba: rgba(155,0,62, 1);
$Kenu-F-2-rgba: rgba(255,21,96, 1);
$Kenu-F-3-rgba: rgba(255,105,72, 1);
$Kenu-F-4-rgba: rgba(255,125,67, 1);
$Kenu-F-5-rgba: rgba(255,157,58, 1);

/* Color Theme Swatches in HSLA */
$Kenu-F-1-hsla: hsla(335, 100, 30, 1);
$Kenu-F-2-hsla: hsla(340, 100, 54, 1);
$Kenu-F-3-hsla: hsla(10, 100, 64, 1);
$Kenu-F-4-hsla: hsla(18, 100, 63, 1);
$Kenu-F-5-hsla: hsla(30, 100, 61, 1);